.picpage {
    margin: auto;
    text-align: center;
    border: solid 1px black;
    background-image: url("https://wallpapermemory.com/uploads/618/marvel-background-1080p-322419.jpg");
    background-color: gray;
    background-blend-mode: screen; 
}

.picpage h1 {
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    font-size: 50px;
    background-color: blue;
    margin-top: 0;
    color: white;
    font-weight: initial;
    padding-top: 10px;

}

.picpage h2 {
    color: black;
    text-decoration: underline;
    font-weight: initial;
}

.picbox {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.arrowright, .arrowleft {
    border-radius: 60px;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 12px;
    height: 80px;
    width: 80px;
    border: solid 1px black;
    background-color: rgba(255, 255, 255 , .5);
    font-size: 80px;
}

.picbox img {
    object-fit: fill;
    height: 600px;
    width: 500px;
    margin-bottom: 30px;
}

.fa-angle-left:before {
    margin-right:15px;
}

.fa-angle-right:before {
    margin-left: 15px;
}